# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# native comp
eln-cache/

# straight.el
!straight/versions/
straight/build/
straight/repos/
straight/modified/
straight/build-cache.el

multisession/

# treesitter
tree-sitter/

# recent files
recentf
# last place in files
places

history

transient/
parinfer-rust/
projects

# eww urls
url/

# activities.el
persist/

#undo-fu-session
undo-fu-session/

# projectile
projectile-bookmarks.eld

# perspective
persp-state

# secrets file
secrets.el

# emacs-request
request/

# bookmarks
bookmarks
bookmarks.eld

# package quickstart
package-quickstart.el
